<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>989868211174-61qeuc1smeo31bi386qjppgssuv2ggg6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.989868211174-61qeuc1smeo31bi386qjppgssuv2ggg6</string>
	<key>API_KEY</key>
	<string>AIzaSyCyRjtn5BQZxtqCx4_cfZ2XM49Y9tVz_5A</string>
	<key>GCM_SENDER_ID</key>
	<string>989868211174</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hammerlab.subwaySimulatorFlutter</string>
	<key>PROJECT_ID</key>
	<string>subway-simulator-flutter-30cd3</string>
	<key>STORAGE_BUCKET</key>
	<string>subway-simulator-flutter-30cd3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:989868211174:ios:fa4a72e88bb8f43feeb427</string>
	<key>DATABASE_URL</key>
	<string>https://subway-simulator-flutter-30cd3.firebaseio.com</string>
</dict>
</plist>